body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    
}

.container-slider {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
  
}

.slide {
    display: flex;
    max-width: 960px;
  
}

.img-container {
 position: relative;
 flex: 50%;
}

.first-img {
    background-image: url("/images/pattern-bg.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    width: 100%;
    min-height: 435px;
    top: -45px;

}
.second-img {
    background-image: url("/images/image-tanya.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    width: 100%;
    min-height: 370px;
}

.third-img {
    background-image: url("/images/image-john.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    width: 100%;
    min-height: 370px;
}


.quote {
    flex: 50%;
}

.attribution {
    position: absolute;
    bottom: 0;
}

.slider-icons {

    background: #8366D3;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    width: 20%;
}

.icon-prev {
    padding-right: 20px;
}

.icon-prev:hover, .icon-next:hover {
    cursor: pointer;
}
